# Applied Python Structures for Data-Driven Problem Solving

## Problem 1 – Delivery Path Analyzer

In [1]:
data = [("Karachi", "8:30 AM", 0.75), ("Hyderabad", "11:15 AM", 1.8), ("Sukkur", "1:45 PM", 3.2), ("Multan", "4:00 PM", 3.4)] 
start = data[0][0]
end = data[-1][0]
distance =0
for s in data:
    distance += s[2]
print ("Starting: " , start )
print("Ending: ", end)
print("Total Distance covered: ", distance , "km")

Starting:  Lahore
Ending:  Peshawar
Total Distance covered:  9.0 km

## Probelm 2- – Shopping Cart Management

In [3]:
cart = {}

def add_item(name , quantity , price):
    cart[name] ={"quantity" : quantity , "price": price}
    
def remove_item(name):
    if name in cart:
        del cart[name]
        
def update_item(name  , price):
    if name in cart:
        
        cart[name]["price"] = price
        
def price_and_highest():
    total_amount =0
    highest = ("", 0)
    for item_name , item_detail in cart.items():
        total = item_detail["quantity"] * item_detail["price"]
        total_amount +=total
        if item_detail["price"] > highest[1]:
            highest = (item_name , item_detail["price"])
            
    
    print("Highest amount is : " , highest)
    print("Total amounnt is : ", total_amount)
    
        
add_item("Samsung Phone", 2, 25000)
add_item("Dell Laptop", 1, 85000)
add_item("QMobile Tablet", 1, 19500)

update_item("Samsung Phone", 22000) 
remove_item("QMobile Tablet") 

price_and_highest()

Highest amount is :  ('Dell Laptop', 85000)
Total amounnt is :  129000

## Problem 3 – Student Performance Report

In [4]:
student_records = {
    "Ahmed Raza": {"Math": 92, "Physics": 85, "Chemistry": 87},
    "Bilal Khan": {"Math": 88, "Physics": 90, "Chemistry": 82},
    "Saad Malik": {"Math": 85, "Physics": 80, "Chemistry": 85},
    "Zain Abid": {"Math": 90, "Physics": 75, "Chemistry": 69},
}

student_averages = {}
for student, subjects in student_records.items():
    total_marks = sum(subjects.values())
    average = total_marks / len(subjects)
    student_averages[student] = average

sorted_results = sorted(student_averages.items(), key=lambda x: x[1], reverse=True)

print("Top Students:")
for student, avg in sorted_results[:3]:
    print(student, ":", avg)

print("\nSorted Results:")
print(sorted_results)

Top Students:
Ahmed Raza : 88.0
Bilal Khan : 86.66666666666667
Saad Malik : 83.33333333333333

Sorted Results:
[('Ahmed Raza', 88.0), ('Bilal Khan', 86.66666666666667), ('Saad Malik', 83.33333333333333), ('Zain Abid', 78.0)]

## Problem No 4 - Email Data Processor

In [5]:
email_list = [
    "ahmed.raza@hotmail.com",
    "fatima.khan@yahoo.com",
    "omar.malik@gmail.com",
    "zara.ahmed@outlook.com",
    "invalid-email",
    "admin@pucit.edu.pk",
    "usman123@gmail.com"
]

valid_emails = []
invalid_emails = []
domain_stats = {}

for email_address in email_list:
    if '@' in email_address and '.' in email_address.split('@')[1]:
        valid_emails.append(email_address)
        domain = email_address.split('@')[1]
        if domain in domain_stats:
            domain_stats[domain] += 1
        else:
            domain_stats[domain] = 1
    else:
        invalid_emails.append(email_address)

print("Valid emails:", valid_emails)
print("Invalid emails:", invalid_emails)
print("Domain distribution:", domain_stats)

Valid emails: ['ahmed.raza@hotmail.com', 'fatima.khan@yahoo.com', 'omar.malik@gmail.com', 'zara.ahmed@outlook.com', 'admin@pucit.edu.pk', 'usman123@gmail.com']
Invalid emails: ['invalid-email']
Domain distribution: {'hotmail.com': 1, 'yahoo.com': 1, 'gmail.com': 2, 'outlook.com': 1, 'pucit.edu.pk': 1}

## Problem 5 – Friendship Network Analysis

In [ ]:
friends = {
    "Ahmed Raza": {"Bilal Khan", "Saad Malik", "Zain Abid"},
    "Bilal Khan": {"Ahmed Raza", "Saad Malik", "Ali Hassan"},
    "Saad Malik": {"Ahmed Raza", "Bilal Khan", "Fatima Noor"},
    "Zain Abid": {"Ahmed Raza"},

}

mutual_ab = friends["Abdullah"] & friends["Rashid"]
mutual_cd = friends["Aneeq"] & friends["Muzammil"]

print("Mutual friends of Abdullah and Rashid:", mutual_ab)
print("Mutual friends of Aneeq and Muzammil:", mutual_cd)

unique_to_abdullah = friends["Abdullah"] - friends["Rashid"]
unique_to_rashid = friends["Rashid"] - friends["Abdullah"]

unique_to_aneeq = friends["Aneeq"] - friends["Muzammil"]
unique_to_muzammil = friends["Muzammil"] - friends["Aneeq"]

print("Unique to Abdullah:", unique_to_abdullah)
print("Unique to Rashid:", unique_to_rashid)
print("Unique to Aneeq:", unique_to_aneeq)


user = "Abdullah"
suggestions = set()
for friend in friends[user]:
    suggestions |= friends[friend]

suggestions -= friends[user]
suggestions.discard(user)

print("Friend suggestions for", user, ":", suggestions)

Mutual friends of Abdullah and Rashid: {'Aneeq'}
Mutual friends of Aneeq and Muzammil: {'Abdullah'}
Unique to Abdullah: {'Muzammil', 'Rashid'}
Unique to Rashid: {'Husanain', 'Abdullah'}
Unique to Aneeq: {'Rashid', 'Sipra'}
Friend suggestions for Abdullah : {'Husanain', 'Sipra'}

## Problem 6 – Restaurant Billing System

In [6]:
menu = [{"name": "Biryani", "price": 450},
        {"name": "Karahi", "price": 1200},
        {"name": "Daal", "price": 250},
        {"name": "Raita", "price": 100}
        ]
        
order = [("Biryani", 3),
("Karahi", 1),
("Raita", 5)
]

gross_total = 0

for item, quantity in order:
    for menu_items in menu:
        if menu_items["name"] == item:
            gross_total += menu_items["price"] * quantity
            
service_quality = 8

if service_quality >= 8:
    tip = 0.2 * gross_total
elif service_quality >= 5:
    tip = 0.15 * gross_total
else: 
    tip = 0.10 * gross_total

tax = 0.05 * gross_total
net_total = gross_total + tax + tip

print("Your total bill is: ", net_total)

Your total bill is:  3812.5

## Problem 7 – Transport Schedule Tracker

In [7]:
stops = [
    {"name": "Bahria", "time": 0, "distance": 0},
    {"name": "Defence", "time": 10, "distance": 8},
    {"name": "Johar", "time": 5, "distance": 15},
    {"name": "Model", "time": 5, "distance": 22},
    {"name": "Airport", "time": 20, "distance": 35}
]

num_stops = len(stops)

Total_distance = stops[-1]["distance"] - stops[0]["distance"]
total_time = 0
for stop in stops:
    total_time += stop["time"]
    
shortest_distance = 1000
for i in range(1, num_stops):
    segment_distance = stops[i]["distance"] - stops[i-1]["distance"]
    if segment_distance < shortest_distance:
        shortest_distance = segment_distance

print("Total no of stops: ", num_stops)
print("Total Time Taken: ", total_time)
print("Shortest distance: ", shortest_distance)

Total no of stops:  5
Total Time Taken:  40
Shortest distance:  7

## Problem 8 – Library Catalog System

In [ ]:
catalog = [
    {"title": "Zavia", "author": "Ashfaq Ahmed", "category": "Philosophy"},
    {"title": "Peer-e-Kamil", "author": "Umera Ahmed", "category": "Spiritual"},
    {"title": "Raja Gidh", "author": "Bano Qudsia", "category": "Fiction"},
    {"title": "Talash", "author": "Ashfaq Ahmed", "category": "Philosophy"},
    {"title": "Jasoosi", "author": "Ibne Safi", "category": "Detective"}
]

authors = []

for i in range(len(catalog)):
    authors.append(catalog[i]["author"])

count_of_author = {}
for author in authors:
    if author in count_of_author:
        count_of_author[author] += 1
    else:
        count_of_author[author] = 1
print(count_of_author)

{'Khadija Mastoor': 1, 'Umera Ahmed': 2, 'Muhammad Husain Azad': 1, 'Ishtiaq Ahmed': 1}

## Problem 9 – Sports Tournament Statistics (6 marks)

In [8]:
matches = [
    {"team1": "Lahore Qalandars", "team2": "Karachi Kings", "score1": 3, "score2": 2},
    {"team1": "Islamabad United", "team2": "Peshawar Zalmi", "score1": 1, "score2": 1},
    {"team1": "Karachi Kings", "team2": "Islamabad United", "score1": 0, "score2": 4}
]

teams = []
score = []
for match in matches:
    if match["team1"] in teams:
        index = teams.index(match["team1"])
        score[index] += match["score1"]
    else:
        teams.append(match["team1"])
        score.append(match["score1"])
        
    if match["team2"] in teams:
        index = teams.index(match["team2"])
        score[index] += match["score2"]
    else:
        teams.append(match["team2"])
        score.append(match["score2"])
        
max_score = max(score)
winner_index = score.index(max_score)
winner = teams[winner_index]

print("Teams:", teams)
print("Scores:", score)
print("Winning Team:", winner)

Teams: ['Lahore Qalandars', 'Karachi Kings', 'Islamabad United', 'Peshawar Zalmi']
Scores: [3, 2, 5, 1]
Winning Team: Islamabad United


## Problem 10 – Weather Data Analyzer

In [9]:
weather_data = [
    {"day": 1, "temperature": 28, "condition": "Sunny"},
    {"day": 2, "temperature": 30, "condition": "Sunny"},
    {"day": 3, "temperature": 27, "condition": "Cloudy"},
    {"day": 4, "temperature": 26, "condition": "Rainy"},
    {"day": 5, "temperature": 29, "condition": "Sunny"},
    {"day": 6, "temperature": 31, "condition": "Sunny"},
    {"day": 7, "temperature": 25, "condition": "Rainy"},
    {"day": 8, "temperature": 32, "condition": "Sunny"},
    {"day": 9, "temperature": 30, "condition": "Cloudy"},
    {"day": 10, "temperature": 33, "condition": "Sunny"},
    {"day": 11, "temperature": 29, "condition": "Cloudy"},
    {"day": 12, "temperature": 34, "condition": "Sunny"},
    {"day": 13, "temperature": 28, "condition": "Rainy"},
    {"day": 14, "temperature": 31, "condition": "Sunny"},
    {"day": 15, "temperature": 27, "condition": "Cloudy"},
    {"day": 16, "temperature": 45, "condition": "Sunny"},
    {"day": 17, "temperature": 30, "condition": "Sunny"},
    {"day": 18, "temperature": 33, "condition": "Cloudy"},
    {"day": 19, "temperature": 26, "condition": "Rainy"},
    {"day": 20, "temperature": 28, "condition": "Cloudy"},
    {"day": 21, "temperature": 29, "condition": "Sunny"},
    {"day": 22, "temperature": 32, "condition": "Sunny"},
    {"day": 23, "temperature": 25, "condition": "Rainy"},
    {"day": 24, "temperature": 31, "condition": "Cloudy"},
    {"day": 25, "temperature": 30, "condition": "Sunny"},
    {"day": 26, "temperature": 34, "condition": "Sunny"},
    {"day": 27, "temperature": 33, "condition": "Cloudy"},
    {"day": 28, "temperature": 29, "condition": "Rainy"},
    {"day": 29, "temperature": 32, "condition": "Sunny"},
    {"day": 30, "temperature": 36, "condition": "Sunny"}
]

average_temp = 0
for i in range(len(weather_data)):
    average_temp += weather_data[i]["temperature"]
 
temps = []
status = []
for i in range(len(weather_data)):
    temps.append(weather_data[i]["temperature"])
    status.append(weather_data[i]["condition"])
 
most_common = max(set(status), key=status.count)
highest_temp = max(temps)
average_temp = average_temp / 30
print("Average temperature: ", average_temp)
print("Highest temperature: ", highest_temp)
print("Most frequent condition:", most_common)

Average temperature:  30.433333333333334
Highest temperature:  45
Most frequent condition: Sunny

## Problem 11 – Employee Attendance System

In [10]:
attendance = {
    "Ahmed": [1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],
    "Saad": [1,1,0,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0],
    "Bilal": [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],  
    "Zain": [1,1,1,1,0,0,1,1,0,1,1,0,1,0,1,1,0,1,1,1,0,1,1,0,1,1,1,0,1,0]
}

for name in attendance:
    total_days = 30
    present_days = 0
    
    for day in attendance[name]:
        if day == 1:
            present_days += 1
    
    percent = (present_days / total_days) * 100
    print(name, "Attendance Percentage:", percent, "%")

print("Employees with Perfect Attendance:")
for name in attendance:
    if sum(attendance[name]) == 30:
        print(name)

max_absent = 0
most_absent_name = ""

for name in attendance:
    absents = attendance[name].count(0)
    if absents > max_absent:
        max_absent = absents
        most_absent_name = name

print("Employee with Most Absences:", most_absent_name)

Ahmed Attendance Percentage: 96.66666666666667 %
Saad Attendance Percentage: 83.33333333333334 %
Bilal Attendance Percentage: 100.0 %
Zain Attendance Percentage: 66.66666666666666 %
Employees with Perfect Attendance:
Bilal
Employee with Most Absences: Zain

## Problem 12 – Fitness Tracker

In [11]:
fitness_data = [
    {"user": "Ahmed", "activity": "Cricket", "calories": 300, "time": 30},
    {"user": "Saad", "activity": "Badminton", "calories": 250, "time": 45},
    {"user": "Bilal", "activity": "Swimming", "calories": 400, "time": 60},
    {"user": "Zain", "activity": "Cricket", "calories": 350, "time": 35}
]

total_calories = 0
total_time = 0
activities = []

for record in fitness_data:
    total_calories += record["calories"]
    total_time += record["time"]
    if record["activity"] not in activities:
        activities.append(record["activity"])

average_time = total_time / len(fitness_data)

print("Total Calories Burned:", total_calories)
print("Average Workout Time:", average_time)
print("Unique Activities:", activities)

Total Calories Burned: 1300
Average Workout Time: 42.5
Unique Activities: ['Cricket', 'Badminton', 'Swimming']

## Problem 13 – Online Quiz Evaluator

In [ ]:
students = [
    {"name": "Abdullah", "score": 85, "time": 25},
    {"name": "Rashid", "score": 70, "time": 30},
    {"name": "Aneeq", "score": 90, "time": 20},
    {"name": "Muzammil", "score": 60, "time": 35}
]

total_score = 0
highest_score = 0
topper = ""

for s in students:
    total_score += s["score"]
    if s["score"] > highest_score:
        highest_score = s["score"]
        topper = s["name"]

average_score = total_score / len(students)
print("Average Score:", average_score)
print("Highest Scorer:", topper)

print("Students who passed (score >= 70):")
for s in students:
    if s["score"] >= 70:
        print(s["name"])

Average Score: 76.25
Highest Scorer: Aneeq
Students who passed (score >= 70):
Abdullah
Rashid
Aneeq

## Problem 14 – Hotel Booking Management

In [ ]:
rooms = {
    101: {"available": False, "cost_per_night": 5000, "nights": 3},
    102: {"available": True, "cost_per_night": 4000, "nights": 0},
    103: {"available": False, "cost_per_night": 4500, "nights": 2},
    104: {"available": True, "cost_per_night": 3500, "nights": 0}
}

total_cost = 0
occupied = []
available = []

for room, info in rooms.items():
    if info["available"]:
        available.append(room)
    else:
        occupied.append(room)
        total_cost += info["cost_per_night"] * info["nights"]

print("Occupied Rooms:", occupied)
print("Available Rooms:", available)
print("Total Stay Cost of Occupied Rooms:", total_cost)

Occupied Rooms: [101, 103]
Available Rooms: [102, 104]
Total Stay Cost of Occupied Rooms: 24000

## Problem 15 – Expense & Budget Tracker

In [ ]:
expenses = [
    {"category": "Food", "amount": 1500},
    {"category": "Transport", "amount": 800},
    {"category": "Entertainment", "amount": 1200},
    {"category": "Food", "amount": 1000},
    {"category": "Bills", "amount": 2000}
]

budget = 6000
category_totals = {}
largest_expense = 0
largest_category = ""

for e in expenses:
    if e["category"] not in category_totals:
        category_totals[e["category"]] = e["amount"]
    else:
        category_totals[e["category"]] += e["amount"]
    
    if e["amount"] > largest_expense:
        largest_expense = e["amount"]
        largest_category = e["category"]

total_spent = sum(category_totals.values())

print("Total per Category:", category_totals)
print("Total Spending:", total_spent)

if total_spent > budget:
    print("Budget Exceeded by", total_spent - budget)
else:
    print("Within Budget")

print("Largest Single Expense:", largest_category, "-", largest_expense)

Total per Category: {'Food': 2500, 'Transport': 800, 'Entertainment': 1200, 'Bills': 2000}
Total Spending: 6500
Budget Exceeded by 500
Largest Single Expense: Bills - 2000

# Problem 16 – Integrated Real-World System: Smart Business Manager

In [13]:
transactions = []

def add_transaction(date, transaction_type, amount, category):
    transaction = {
        "date": date,
        "type": transaction_type,
        "amount": amount,
        "category": category
    }
    transactions.append(transaction)
    print(f"Added: {date} - {transaction_type} - {category} - Rs.{amount}")

def total_summary():
    total_income = 0
    total_expense = 0
    
    for transaction in transactions:
        if transaction["type"].lower() == "income":
            total_income += transaction["amount"]
        elif transaction["type"].lower() == "expense":
            total_expense += transaction["amount"]
    
    net_balance = total_income - total_expense
    
    print("\n" + "="*40)
    print("FINANCIAL SUMMARY")
    print("="*40)
    print(f"Total Income:    Rs.{total_income}")
    print(f"Total Expenses:  Rs.{total_expense}")
    print(f"Net Balance:     Rs.{net_balance}")
    print("="*40)

def category_summary():
    category_totals = {}
    
    for transaction in transactions:
        category = transaction["category"]
        amount = transaction["amount"]
        
        if category in category_totals:
            category_totals[category] += amount
        else:
            category_totals[category] = amount
    
    print("\nCATEGORY SUMMARY:")
    for category, total in category_totals.items():
        print(f"{category}: Rs.{total}")

def highest_expense():
    highest = None
    highest_amount = 0
    
    for transaction in transactions:
        if transaction["type"].lower() == "expense" and transaction["amount"] > highest_amount:
            highest = transaction
            highest_amount = transaction["amount"]
    
    if highest:
        print(f"\nBIGGEST EXPENSE:")
        print(f"On {highest['date']} for {highest['category']}: Rs.{highest['amount']}")
    else:
        print("\nNo expenses found")

def view_all_transactions():
    if not transactions:
        print("\nNo transactions yet")
        return
    
    print("\nALL TRANSACTIONS:")
    for transaction in transactions:
        print(f"{transaction['date']} - {transaction['type']} - {transaction['category']} - Rs.{transaction['amount']}")

def monthly_summary():
    monthly_totals = {}
    
    for transaction in transactions:
        month = transaction["date"][3:]
        
        if month not in monthly_totals:
            monthly_totals[month] = {"income": 0, "expense": 0}
        
        if transaction["type"].lower() == "income":
            monthly_totals[month]["income"] += transaction["amount"]
        else:
            monthly_totals[month]["expense"] += transaction["amount"]
    
    print("\nMONTHLY REPORT:")
    for month, totals in monthly_totals.items():
        net = totals["income"] - totals["expense"]
        print(f"{month}: Income Rs.{totals['income']}, Expense Rs.{totals['expense']}, Net Rs.{net}")

add_transaction("01-01-2024", "Income", 50000, "Salary")
add_transaction("05-01-2024", "Expense", 15000, "Rent")
add_transaction("10-01-2024", "Expense", 5000, "Food")
add_transaction("15-01-2024", "Income", 10000, "Freelance")
add_transaction("20-01-2024", "Expense", 3000, "Transport")
add_transaction("25-01-2024", "Expense", 8000, "Entertainment")
add_transaction("01-02-2024", "Income", 45000, "Salary")
add_transaction("08-02-2024", "Expense", 12000, "Shopping")

print("SMART BUSINESS MANAGER")
print("======================")

view_all_transactions()
total_summary()
category_summary()
highest_expense()
monthly_summary()

print("\nADDING MORE DATA...")
add_transaction("12-02-2024", "Expense", 2500, "Food")
add_transaction("18-02-2024", "Income", 8000, "Bonus")
add_transaction("25-02-2024", "Expense", 12000, "Electronics")

print("\nUPDATED REPORT:")
total_summary()
category_summary()
highest_expense()

Added: 01-01-2024 - Income - Salary - Rs.50000
Added: 05-01-2024 - Expense - Rent - Rs.15000
Added: 10-01-2024 - Expense - Food - Rs.5000
Added: 15-01-2024 - Income - Freelance - Rs.10000
Added: 20-01-2024 - Expense - Transport - Rs.3000
Added: 25-01-2024 - Expense - Entertainment - Rs.8000
Added: 01-02-2024 - Income - Salary - Rs.45000
Added: 08-02-2024 - Expense - Shopping - Rs.12000
SMART BUSINESS MANAGER
======================

ALL TRANSACTIONS:
01-01-2024 - Income - Salary - Rs.50000
05-01-2024 - Expense - Rent - Rs.15000
10-01-2024 - Expense - Food - Rs.5000
15-01-2024 - Income - Freelance - Rs.10000
20-01-2024 - Expense - Transport - Rs.3000
25-01-2024 - Expense - Entertainment - Rs.8000
01-02-2024 - Income - Salary - Rs.45000
08-02-2024 - Expense - Shopping - Rs.12000

========================================
FINANCIAL SUMMARY
========================================
Total Income:    Rs.105000
Total Expenses:  Rs.43000
Net Balance:     Rs.62000
========================================

CATEGORY SUMMARY:
Salary: Rs.95000
Rent: Rs.15000
Food: Rs.5000
Freelance: Rs.10000
Transport: Rs.3000
Entertainment: Rs.8000
Shopping: Rs.12000

BIGGEST EXPENSE:
On 05-01-2024 for Rent: Rs.15000

MONTHLY REPORT:
01-2024: Income Rs.60000, Expense Rs.31000, Net Rs.29000
02-2024: Income Rs.45000, Expense Rs.12000, Net Rs.33000

ADDING MORE DATA...
Added: 12-02-2024 - Expense - Food - Rs.2500
Added: 18-02-2024 - Income - Bonus - Rs.8000
Added: 25-02-2024 - Expense - Electronics - Rs.12000

UPDATED REPORT:

========================================
FINANCIAL SUMMARY
========================================
Total Income:    Rs.113000
Total Expenses:  Rs.57500
Net Balance:     Rs.55500
========================================

CATEGORY SUMMARY:
Salary: Rs.95000
Rent: Rs.15000
Food: Rs.7500
Freelance: Rs.10000
Transport: Rs.3000
Entertainment: Rs.8000
Shopping: Rs.12000
Bonus: Rs.8000
Electronics: Rs.12000

BIGGEST EXPENSE:
On 05-01-2024 for Rent: Rs.15000